.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #1e293b, #0f172a);
  padding: 1rem 1.5rem 1rem .5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #1e293b;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  flex-grow: 1;
  /* This ensures the logo won't get pushed to the center */
}

.logo:hover {
  color: #38bdf8;
  transform: scale(1.01);
}

.menuIcon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 1.8rem;
  position: relative;
  transition: transform 0.3s ease;
}


.menuBar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}


.menuOpen:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuOpen:nth-child(2) {
  opacity: 0;
}

.menuOpen:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.navLinks li {
  position: relative;
}

.navLinks li a {
  font-size: 1rem;
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}


.navLinks li a:hover {
  color: #38bdf8;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}


.active {
  background-color: #1c4eb9;
  color: white;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
}

.logoutButton {
  background-color: #b4151d;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #69043f !important;
  color: aliceblue !important;
}


.profilePicture {
  border-radius: 50%;
  aspect-ratio: 1/1;
}


@media (max-width: 768px) {
  .menuIcon {
    display: flex;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #0f172a;
    width: calc(100%);
    height: calc(100vh - 4rem - 10px);
    transform: translateX(100%);
    opacity: 0;
    margin-top: 10px;
    padding-top: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .navOpen {
    transform: translateX(0);
    opacity: 1;
  }

  .navOpenImmediate {
    transform: translateX(0);
    opacity: 1;
    transition: none;
  }

  .navLinks li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .navLinks li a {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .logo{
    margin-left: .2rem;
  }

  .logo:hover {
    color: #38bdf8;
    transform: scale(1.05);
  }

  .profilePicture {
    width: 55px;
    object-fit: cover;
    margin-right: 1.5rem;
  }
}


@media (min-width: 769px) {
  .logo {
    margin-left: 1rem;
  }

  .menuIcon {
    display: none;
  }

  .navLinks {
    display: flex;
    transform: none;
    opacity: 1;
  }

  .profilePicture {
    width: 40px;
    height: auto;
    object-fit:cover;
  }
}