.bg {
    display: grid;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #4a90e2, #50e3c2);
    margin: 0;
}

.adminContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    width: 100%;
}

.sidebar {
    background-color: rgba(43, 43, 43, 0.9);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    max-height: 100vh;
    gap: 10px;
}

.content {
    background-color: #fff;
    overflow-y: auto;
    padding: 20px;
    height: 100%;
}

.toggleButton {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00ff00;
    color: #000;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}


.toggleButton:hover {
    background-color: #00cc00;
}


.searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height: 60px;
}


@media (max-width: 490px) {
    .adminContainer {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        padding-top: 20px;
        height: 100vh;
    }

    .toggleButton {
        height: 40px;
    }

    .sidebar {
        padding: 15px;
        height: auto;
        overflow-y: auto;
    }

    .content {
        padding: 15px;
        height: auto;
        overflow-y: auto;
    }
}



@media (min-width: 491px) and (max-width: 768px) {
    .adminContainer {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        padding-top: 20px;
        height: 100vh;
    }

    .sidebar {
        padding: 40px; /* Adjust padding for neat layout */
        max-height: 100vh;
        overflow-y: auto; /* Keep scrollable if needed */
    }

    .content {
        padding: 25px; /* Add padding to content area */
        overflow-y: auto; /* Ensure scrolling */
    }

    .toggleButton {
        height: 45px; /* Comfortable button height */
        font-size: 18px; /* Larger text for easier tapping */
    }

    .searchInput {
        height: 50px; /* Slightly shorter than desktop */
        font-size: 18px; /* Improve readability */
    }
}



@media (min-width: 769px) {
    .adminContainer {
        grid-template-columns: 1fr 4fr;
        padding-top: 25px;
    }

    .toggleButton {
        height: 50px;
    }

    .mobileOnly {
        display: none; 
    }
}