/* qrGenerator.module.css */

.qrGeneratorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px; /* Limit input field width */
    margin-bottom: 20px; /* Space below input */
}

.qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
